<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>20/12/28 19:06:43</td>   <td>0</td> <td title="&gt;&gt;TestBase.loadPropertiesData()[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">&gt;&gt;loadPropertiesData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/12/28 19:06:43</td>   <td>10</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.launchApp()[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/12/28 19:06:52</td>   <td>9469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataVerify.m(java.lang.String, java.lang.String)[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">m</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/12/28 19:06:52</td>   <td>9910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.failScrennshot(org.testng.ITestResult)[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">&lt;&lt;failScrennshot</td> 
<td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/12/28 19:06:52</td>   <td>9910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataVerify.m(java.lang.String, java.lang.String)[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">m</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/12/28 19:06:53</td>   <td>10211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.failScrennshot(org.testng.ITestResult)[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">&lt;&lt;failScrennshot</td> 
<td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/12/28 19:06:53</td>   <td>10211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataVerify.m(java.lang.String, java.lang.String)[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">m</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/12/28 19:06:53</td>   <td>10494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.failScrennshot(org.testng.ITestResult)[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">&lt;&lt;failScrennshot</td> 
<td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/12/28 19:06:53</td>   <td>10494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataVerify.m(java.lang.String, java.lang.String)[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">m</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/12/28 19:06:56</td>   <td>13189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.failScrennshot(org.testng.ITestResult)[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">&lt;&lt;failScrennshot</td> 
<td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/12/28 19:06:56</td>   <td>13191</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.closeBrowser()[pri:0, instance:testcases.ExcelDataVerify@7cd62f43]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
</table>
