<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>20/12/28 19:32:27</td>   <td>0</td> <td title="&gt;&gt;TestBase.loadPropertiesData()[pri:0, instance:testcases.LoginTest@6d4b1c02]">&gt;&gt;loadPropertiesData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/12/28 19:32:27</td>   <td>10</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.launchApp()[pri:0, instance:testcases.LoginTest@6d4b1c02]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/12/28 19:32:34</td>   <td>7161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginValidation()[pri:0, instance:testcases.LoginTest@6d4b1c02]">loginValidation</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/12/28 19:32:37</td>   <td>9608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.failScrennshot(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@6d4b1c02]">&lt;&lt;failScrennshot</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/12/28 19:32:37</td>   <td>9610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataVerify.readData()[pri:0, instance:testcases.ExcelDataVerify@6093dd95]">readData</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/12/28 19:32:38</td>   <td>10421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.dashBoardPageValidation()[pri:1, instance:testcases.LoginTest@6d4b1c02]">dashBoardPageValidation</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/12/28 19:32:39</td>   <td>11564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.failScrennshot(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@6d4b1c02]">&lt;&lt;failScrennshot</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/12/28 19:32:39</td>   <td>12058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Searchtabvalidation()[pri:2, instance:testcases.LoginTest@6d4b1c02]">Searchtabvalidation</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/12/28 19:32:40</td>   <td>12466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.failScrennshot(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@6d4b1c02]">&lt;&lt;failScrennshot</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/12/28 19:32:40</td>   <td>12927</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.closeBrowser()[pri:0, instance:testcases.LoginTest@6d4b1c02]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
</table>
